.header_areas{
    opacity:1.0;
    position:absolute;
    top:0px;
    left:0px;
    width:1366px;
    height:33px;
    background-color: #203e7b;
}


.piezone {
	position:absolute;
	top:63px;
	left:223px;
	width:1100px;
	height:198px;
	cursor:default;
}

.linezone {
	position:absolute;
	top:33px;
	left:905px;
	width:463px;
	height:366px;
	cursor:default;
}

.linechart1 {
	width:463px;
	height:156px;
}
.linechart2 {
	width:463px;
	height:132px;
}

.barzone {
	position:absolute;
	top:33px;
	left:905px;
	width:463px;
	height:700px;
	cursor:default;
}

.trademarkbarxchart6 {
	width:463px;
	height:101px;
}
.trademarkbarxchart2{
	width:463px;
	height:48px;
}
.trademarkbarxchart5{
	width:463px;
	height:132px;	
}

.trademarkbarxchart7{
	width:231px;
	height:100px;	
}


.designbarxchart {
	width:231px;
	height:132px;
}

.Title1 {
	font-weight:bold;
	font-size:14px;
}
.Title2 {
	font-size:14px;
}

.Basic {
	font-size:12px;
}

.Total1 {
	font-weight:bold;
	font-size:20px;
}

.Total2 {
	font-weight:bold;
	font-size:15px;
}

.Total3 {
	font-weight:bold;
	font-size:12px;
}

.Year1 {
	position: absolute;
	padding:0px 0px 2px 0px;
	left: 584px;
	width:108px;
	text-align:right;
	color:white;
	height:24px;
	font-weight:bold;
	cursor:default;
}

.Graph {
	font-size:10px;
	color:#a6a6a6;
}

.Graphscale {
	font-size:8px;
	color:#a6a6a6;
}

.bigPie{
	width:126px;
	height:126px;
}

#domestic_big_pie2{
	width:92px;
	height:92px;
}

#oversea_big_pie2{
	width:92px;
	height:92px;
}


.smallPie{
	width:82px;
	height:82px;
}

.smallPie_title{
	text-align: center;
	font-size: 8px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
}
.smallPie_title span{
	font-size: 8px;
}

.Hline {
	visibility:hidden;
	width:1300px;
	height:1px;
	background-color:#dddddd;
}

.line_legend {
	width:12px;
	height:12px;
}

.axis path,
.axis line{
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.trademarkbarxchart7 line{
	stroke: white;
	opacity: 0.5;
}

.axis text {
	font-family: sans-serif;
	font-size: 8px;
	fill:#a6a6a6;;
}

.patent_A_bg{
	top:4px;
	left:14px;
	width:412px;
	height:144px;
	background-position: top center; 
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url(../img/patent_A.png);
}

#menu_btn{
	position:absolute;
	top:4px;
	left:720px;
	background-position: top center; 
	width:110px;
	height:25px;
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url(../img/screen3_selected.png);
}

#div1{
	position:absolute;
	top:4px;
	left:720px;
	width:35px;
	height:25px;
}

#div2{
	position:absolute;
	top:4px;
	left:758px;
	width:35px;
	height:25px;
}


#btn_world {
    position:absolute;
    top:1px;
    left:845px;
    width:56px;
    height:31px;
	background-position: top center; 
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url(../img/homeBtn_normal.png);
}

#btn_world:hover{
    background-image:url("../img/homeBtn_hover.png");
}

#btn_world.disabled {
    background-image:url("../img/homeBtn_disable.png");
    cursor:default;
}

.showBorder{
	border: 1px solid #E00;
}


.Section_Area1{
	visibility:hidden;
	position:absolute;
	top:33px;
	width:904px;
	height:735px;
	cursor:default;
	background-image:url(../img/Japan_1.png);
	background-repeat:no-repeat;
}

.Section_Table{
	position:absolute;
	top:48px;
	left:30px;
	background-image:url(../img/graph_bg.png);
	background-repeat:no-repeat;
	width:862px;
	height:670px;
}
.Section_Table_Header{
	width:862px;
	height:178px;
}
.Section_Table_Row{
	width:862px;
	height:124px;
}
.Section_Table_Row_Shadow{
	visibility:hidden;
	width:862px;
	height:120px;
	opacity:0.15;
	background-color:white;
	position:absolute;
	left:30px;
	cursor:pointer;
}

.Section_Table_Header_S{
	width:224px;
	height:178px;
}

.Section_Table_Header_N{
	width:214px;
	height:178px;
}

.Section_Table_Header_E{
	width:210px;
	height:178px;
}

.Section_Table_Unit_S{
	width:224px;
	height:120px;
}

.Section_Table_Unit{
	width:214px;
	height:120px;
}

.Section_Table_Unit_E{
	width:210px;
	height:120px;
}

.Row1Text{
	visibility:hidden;
	color:white;
	position:absolute;
	top:266px;
	left:38px;
	width:200px;
	height:12px;
	cursor:default;
	font-size:12px;
}

.Row2Text{
	visibility:hidden;
	color:white;
	position:absolute;
	top:390px;
	left:38px;
	width:200px;
	height:12px;
	cursor:default;
	font-size:12px;
}

.Row3Text{
	visibility:hidden;
	color:white;
	position:absolute;
	top:514px;
	left:38px;
	width:200px;
	height:12px;
	cursor:default;
	font-size:12px;
}

.Row4Text{
	visibility:hidden;
	color:white;
	position:absolute;
	top:638px;
	left:38px;
	width:200px;
	height:12px;
	cursor:default;
	font-size:12px;
}

.Section_Area2{
	visibility:hidden;
	opacity:1.0;
	position:absolute;
	top:33px;
	left:905px;
	height:735px;
	width:463px;
	color:white;
	background-color:#1e1e1e;
	cursor:default;
}

.Section_Rect1{
	width:463px;
	height:188px;
}

.Section_Rect2{
	width:463px;
	height:200px;
}

.underline {
	width:434px;
	height:1px;
	background-color:#dddddd;
}

.return{
	position:absolute;
	top:46px;
	left:6px;
	width:20px;
	height:20px;
	cursor:pointer;
	background-image:url(../img/return.png);
}

.DetailHeader1{
	position:absolute;
	top:46px;
	left:30px;
	color:white;
	font-size:12px;
	font-weight:Regular;
	height:26px;
	width:224px;
	background-color:#191919;
	opacity:0.9;
}

.DetailHeader2{
	position:absolute;
	top:46px;
	left:254px;
	color:white;
	font-size:12px;
	font-weight:Regular;
	height:26px;
	width:210px;
	background-color:#191919;
	opacity:0.9;
}

.DetailHeader3{
	position:absolute;
	top:46px;
	left:464px;
	color:white;
	font-size:12px;
	font-weight:Regular;
	height:26px;
	width:210px;
	background-color:#191919;
	opacity:0.9;
}

.DetailHeader4{
	position:absolute;
	top:46px;
	left:674px;
	color:white;
	font-size:12px;
	font-weight:Regular;
	height:26px;
	width:218px;
	background-color:#191919;
	opacity:0.9;
}

.SumRowHeader{
	height:26px;
	width:220px;
	color:white;
	font-size:12px;
	font-weight:Regular;
	background-color:#515151;
	opacity:0.85;
}

.SumRowCell{
	height:26px;
	width:206px;
	color:white;
	font-size:12px;
	font-weight:Regular;
	background-color:#515151;
	opacity:0.85;
}

.EvenRowHeader{
	height:26px;
	width:220px;
	color:white;
	font-size:12px;
	font-weight:Regular;
	background-color:#2d2d2d;
	opacity:0.9;
}

.EvenRowCell{
	height:26px;
	width:206px;
	color:white;
	font-size:12px;
	font-weight:Regular;
	background-color:#2d2d2d;
	opacity:0.9;
}

.OddRowHeader{
	height:26px;
	width:220px;
	color:white;
	font-size:12px;
	font-weight:Regular;
	background-color:#373737;
	opacity:0.9;
}

.OddRowCell{
	height:26px;
	width:206px;
	color:white;
	font-size:12px;
	font-weight:Regular;
	background-color:#373737;
	opacity:0.9;
}

.bubble_shadow {
	stroke:#ffffff;
	stroke-width:5px;
	fill:none;
	opacity:0.35;
	filter:url(#Gaussian_Blur);
}

.bubble_edge {
	stroke:#ffffff;
	stroke-width:1px;
	fill:none;
	opacity:0.4;
}


.pic_display{
	position: absolute;
	top: 70px;
	left: 0px;
	width:1343px;
	height:230px;
	margin-left: 25px;
}

.pic_display_title{
	font-size:12px;
	color:white;	
}

.pic_display_content{
	font-size:12px;
	color:white;
}

.page2_pic_display_trademarkbarxchart line{
	stroke: white;
	opacity: 0.5;
}


.table_context{
	position:absolute;
	left:0px;
	top:0px;
	width:1300px;
	table-layout:fixed;
	border-spacing:1px;
	color:#ffffff;
	border-collapse:separate;
	opacity:0.95;
	font-size: 11px;	
}

.table_context div{
	background-color: #2d2d2d;
	vertical-align: middle;
	display:table-cell;
	padding-left: 5px;
}
.table_context tr{
	height:20px;
}

.table_context td{
	background-color: #2d2d2d;
	vertical-align: middle;
	display:table-cell;
}

.cost_company_header {
	width:227px;
}

.cost_company_header div{
	width:227px;
	height:43px;
	text-align: center;
	line-height: 43px;
	background-color: #383838;
}

._month_header div{
	width:396px;
	height:43px;
	text-align: center;
	line-height: 43px;
	background-color: #383838;
}

._month_rate_header {
	width:85px;
}

._month_rate_header div{
	width:86px;
	height:43px;
	text-align: center;
	line-height: 43px;
	background-color: #383838;
}

._total_header div {
	width:397px;
	height:43px;
	text-align: center;
	line-height: 43px;
	background-color: #383838;
}

._total_rate_header div {
	width:85px;
	height:43px;
	line-height: 43px;
	text-align: center;
	background-color: #383838;
}

.sales_rate_header div {
	width:97px;
	height:43px;
	text-align: center;
	line-height: 43px;
	background-color: #383838;
}

.cost_table_context{
	position:absolute;
	left:0px;
	top:0px;
	width:1300px;
	table-layout:fixed;
	border-collapse:separate;
	border-spacing:2px 2px;
	color:#ffffff;
	opacity:0.9;
	font-size: 11px;
}

.cost_table_context tr{
	height:16px;
}

.cost_table_context td{
	background-color: #2d2d2d;
	vertical-align: middle;
	display:table-cell;
}

#page1_data_display{
	position: absolute;
	top: 330px;
	left: 0px;
	width:1343px;
	height:435px;
	margin-left: 25px;
}
.company {
	width:228px;
}
.company div{
	padding-left: 7px;
	padding-top: 7px;
	text-align: left;	
	height:98px;
	vertical-align:text-top;
}

._type {
	width: 175px;
}

._type div {
	padding-left: 10px;
}

.budget {
	width: 70px;
}

.budget div{
	text-align: center;
}

.results div{
	width: 70px;
	text-align: center;
}

.month_results_rect,.month_results_rect div{
	width: 175px;
}

.total_results_rect,.total_results_rect div{
	width: 175px;
}

.rate {
	width: 86px;
}

.rate div{
	text-align:right;
	padding-right: 7px;
}

.sales_rate {
	width: 90px;
}

.sales_rate div{
	text-align:right;
	padding-right: 12px;
}

.table_header{
	table-layout:fixed;
	border-spacing:1px;
	color:#ffffff;
	border-collapse:separate;
	border-spacing: 2px;
	opacity:0.95;
	font-size: 11px;	
}

#text_select {
    position:absolute;
    top:10px;
    left:766px;
    width:130px;
    height:31px;
	background-position: top center; 
	background-repeat:no-repeat;
	background-size:contain;
	color:white;
	font-size: 12px;	
}

#month_product_repair_pie_completed {
	width:127px;
}

#svg_month_big_pie_legend {
	text-align: center;
}

.year_select_left{
	position: absolute;
	padding:7px 0px 2px 0px;
	left: 563px;
	width:7px;
	text-align:right;
	height:12px;
	cursor:default;
}

.year_select_right{
	position: absolute;
	padding:7px 0px 2px 0px;
	left:710px;
	width:7px;
	text-align:right;
	height:12px;
	cursor:default;
}

#dashboard_title_year{
	font-size: 24px;
}

#dashboard_subtitle {
	font-size: 14px;
}

.foot {
	position: absolute;
	bottom: 0px;
	right:15px;
	width: 1366px;
	height: 18px;
	text-align: right;
	line-height: 18px;
	color: #a6a6a6;
	font-size: 10px;
}