/* 
 * 経営コックピット Region America CSS
 */

.region_pnl_area{
    visibility:hidden;
    position:absolute;
    top:32px;
    left:0;
    width:903px;
    overflow:hidden;
    background-repeat:no-repeat;
}

.region_pnl_select{
    opacity:0.0;
    position:absolute;
    background-size:contain;
}

.region_pnl_label{
    opacity:0.0;
    position:absolute;
    width:169px;
    height:67px;
    color:white;
    font-weight:bold;
    cursor:default;
    background-image:url(../img/label_bg.png);
}

.region_pnl_region_order{
    opacity:1.0;
    margin-top:9px;
    font-size:16px;
    font-weight:bold;
    line-height:18px;
    color:white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_padding{
     width:47px;
     text-align:right;
     padding-right:1px;
}

.region_pnl_font{
    font-size:14px;
    width:52px;
    text-align:right;
}

.region_pnl_Revenue_Rate{
     height:15px;
     line-height:14px;
     margin:2px 0px 2px 1px;
     padding-bottom:1px;
     padding-right:2px;
     background-color:rgba(255,255,255,0.83);
     font-weight:bold;
     text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.region_pnl_Gross_Margin{
    height:15px;
    line-height:14px;
    margin:2px 0px 2px 1px;
    padding-bottom:1px;
    padding-right:2px;
    background-color:rgba(255,255,255,0.83);
    font-weight:bold;
     text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/*Region Panel*/
.region_pnl_point_l{
    opacity:0.0;
    position:absolute;
    width:35px;
    height:35px;
    background-size:contain;
    background-image:url(../img/pointer.png);
}

.region_pnl_point_s {
    opacity:0.0;
    position:absolute;
    width:29px;
    height:29px;
    background-size:contain;
    background-image:url(../img/pointer_s.png);
}

.region_pnl_line{
    opacity:0.0;
    position:absolute;
}

.region_pnl_label_SubRegion{
    opacity:0.0;
    position:absolute;
    width:139px;
    height:139px;
    background-size:contain;
    background-image:url(../img/SubRegion_Box.png);
}

.region_pnl_label_SubRegion_s{
    opacity:0.0;
    position:absolute;
    width:139px;
    height:73px;
	background-color:rgba(0,0,0,0.5);
    background-size:contain;
    background-image:url(../img/SubRegion_Box_s.png);
}

.region_pnl_label_BG{
    opacity:0.0;
    position:absolute;
    width:139px;
    height:139px;
    background-size:contain;
    background-image:url(../img/SubRegion_BG.png);
}

.region_pnl_label_BG.disable {
    background-image:url(../img/SubRegion_BG_disable.png);
}

.region_pnl_label_BG:hover {
    background-image:url(../img/SubRegion_BG_hover.png);
}

.region_pnl_label_BG_s{
    opacity:0.0;
    position:absolute;
    width:139px;
    height:73px;
    background-size:139px 73px;
    background-image:url(../img/SubRegion_BG.png);
}

.region_pnl_label_BG_s.disable {
    background-image:url(../img/SubRegion_BG_disable.png);
}

.region_pnl_label_BG_s:hover {
    background-image:url(../img/SubRegion_BG_hover.png);
}

.region_pnl_label_weather_BG{
    opacity:0.0;
    position:absolute;
    width:139px;
    height:139px;
    margin:0px;
    background-size:contain;
}

.region_pnl_label_weather_BG_s{
    opacity:0.0;
    position:absolute;
    width:139px;
    height:73px;
    margin:0px;
    background-size:contain;
}

.region_pnl_weather_icon{
    position:absolute;
    top:14px;
    left:56px;
    cursor:default;
    width:27px;
    height:27px;
}

.region_pnl_weather_icon_s{
    position:absolute;
    top:14px;
    left:56px;
    cursor:default;
    width:27px;
    height:27px;
}

.region_pnl_weather_temp{
    position:absolute;
    top:41px;
    width:139px;
    padding-left:0px;
    left:0px;
    cursor:default;
    text-align:center;
    font-size:12px;
    color:white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_weather_temp_s{
    position:absolute;
    top:41px;
    width:139px;
    padding-left:0px;
    left:0px;
    cursor:default;
    text-align:center;
    font-size:12px;
    color:white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_title{
    position:absolute;
    top:69px;
    width:131px;
    padding-left:4px;
    left:0px;
    cursor:default;
    text-align:left;
    font-size:14px;
    color:white;
    font-weight:bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.region_pnl_label_title.slim{
    top:71px;
	font-size:11.8px;
	transform: scale(1,1.2); 
}

.region_pnl_label_title.superSlim{
    top:73px;
	font-size:8.8px;
	transform: scale(1,1.6); 
}

.region_pnl_label_title_s{
    position:absolute;
    top:3px;
    width:131px;
    padding-left:4px;
    left:0px;
    cursor:default;
    text-align:left;
    font-size:14px;
    color:white;
    font-weight:bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}


.region_pnl_label_title_s.slim{
    top:5px;
	font-size:11.8px;
	transform: scale(1,1.2); 
}

.region_pnl_label_title_s.superSlim{
    top:7px;
	font-size:8.8px;
	transform: scale(1,1.6); 
}

.region_pnl_label_title2{
    position:absolute;
    top:86px;
    width:131px;
    padding-left:4px;
    left:0px;
    cursor:default;
    text-align:left;
    font-size:13px;
    color:white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_title2_s{
    position:absolute;
    top:20px;
    width:131px;
    padding-left:4px;
    left:0px;
    cursor:default;
    text-align:left;
    font-size:13px;
    color:white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_tokyo{
    position:absolute;
    top:150px;
    width:139px;
    padding-left:px;
    left:0px;
    cursor:default;
    text-align:center;
    font-size:14px;
    color:white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_time{
    position:absolute;
    top:88px;
    width:135px;
    left:0px;
    cursor:default;
    text-align:right;
    font-size:11px;
    color:white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_time_s{
    position:absolute;
    top:22px;
    width:135px;
    left:0px;
    cursor:default;
    text-align:right;
    font-size:11px;
    color:white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_order{
    opacity:1.0;
    margin-left:4px;
    margin-right:4px;
    margin-top:105px;
    font-size:14px;
    font-weight:bold;
    line-height:13px;
    color:white;
    cursor:default;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_order_s{
    opacity:1.0;
    margin-left:4px;
    margin-right:4px;
    margin-top:39px;
    font-size:14px;
    font-weight:bold;
    line-height:13px;
    color:white;
    cursor:default;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_padding{
    width:60px;
    text-align:right;
    padding-right:1px;
}

.region_pnl_label_font{
    font-size:14px;
    width:40px;
    text-align:right;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_Revenue_Rate{
    height:12px;
    line-height:12px;
	font-size:10.5px;
    margin:1px 0px 1px 1px;
    padding-bottom:1px;
    padding-right:1px;
    background-color:rgba(255,255,255,0.83);
    font-weight:normal;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

.region_pnl_label_Products_Title{
    position:absolute;
    top:70px;
    width:131px;
    padding-left:4px;
    left:0px;
    cursor:default;
    text-align:left;
    font-size:14px;
	line-height:14px;
    color:white;
    font-weight:bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_Products_Title_s{
    position:absolute;
    top:4px;
    width:131px;
    padding-left:4px;
    left:0px;
    cursor:default;
    text-align:left;
    font-size:14px;
	line-height:14px;
    color:white;
    font-weight:bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_Products_order{
    opacity:1.0;
    margin-left:4px;
    margin-right:4px;
    margin-top:105px;
    font-size:14px;
    font-weight:bold;
    line-height:12px;
    color:white;
    cursor:default;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.region_pnl_label_Products_order_s{
    opacity:1.0;
    margin-left:4px;
    margin-right:4px;
    margin-top:39px;
    font-size:14px;
    font-weight:bold;
    line-height:12px;
    color:white;
    cursor:default;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
