/* 
 * �o�c�R�b�N�s�b�g CSS
 */

/*body*/
body {
    width:1366px;
    height:768px;
    overflow:hidden;
    padding:0px;
    margin:0px;
    font-family:Meiryo UI;
    background-color:black;
}

/*table*/
table{
    padding:0px;
    margin:0px;
    border-collapse:collapse;
    border:none;
    border-spacing:0;
 }
th,td{
    font-family:Meiryo UI;
    padding:0px;
    margin:0px;
    vertical-align:top;
    border:0px solid #000;
    font-weight:normal;
    text-align:left;
 }
caption{
    text-align:left;
 } 

div {
    padding:0px;
    margin:0px;
}

/*�@CheckBox */
/*�@�f�t�H���g�\���������@*/
input[type="checkbox"] {
    display:none;
}

/*�@�`�F�b�N�{�b�N�X ���I�����̔w�i�w��@*/
input[type="checkbox"] + label {
    width: 63px;
    padding:9px 0px 9px 48px;
    background:url(../img/selector_risk.png) no-repeat left center;
    background-size:47px 30px;
    cursor:pointer;
}

#selectordiv {
	position: absolute;
	width: 47px;
	top:0px;
	left:34px;
}

#selector_cost {
	position: absolute;
	width: 26px;
	top:0px;
	left:0px;
}

#selector_risk {
	position: absolute;
	width: 26px;
	top:0px;
	left:90px;
}

/*�@�`�F�b�N�{�b�N�X �I�����̔w�i�w��@*/
/*input[type="checkbox"]:checked + label {
    background:url(../img/selector_risk.png) no-repeat left center;
    background-size:30px 20px;
    cursor:pointer;
}
*/
/*�@�`�F�b�N�{�b�N�X �f�B�Z�[�u�����w��@*/
input[type="checkbox"]:disabled + label {
    cursor:default;
}


/*Radio*/
/*�@�f�t�H���g�\���������@*/
input[type="radio"] {
    display:none;
}

.selector3_sw_background{
    margin:0px 0px 0px 44px;
    background:url(../img/Selector3L_back.png) no-repeat left center;
    background-size:118px 32px;
    width:118px;
    height:32px;
}

.selector3_swButtonArea{
    margin:1px 1px 1px 0px;
    width:32px;
    height:32px;
    position:absolute;
}

.selector3_swButton{
    position:absolute;
    top:1px;
    left:1px;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    color:#868686;
    font-size:10px;
    font-weight:bold;
    line-height:28px;
    text-align:center;
}

.selector3_swButton:hover{
    background-color:#666666;
    color:#e0e0e0;
}

/*�@radiobutton ���I�����̔w�i�w��@*/
input[type="radio"] + label{
    cursor:pointer;
}

/*�@radiobutton �I�����̔w�i�w��@*/
input[type="radio"]:checked  + label{
    background-color:#e0e0e0;
    box-shadow: 0px 1px 0px 0px #494949;
    color:#000000;
    cursor:pointer;
}

/*�@�`�F�b�N�{�b�N�X �f�B�Z�[�u�����w��@*/
input[type="radio"]:disabled + label{
    cursor:default;
}

/*�@Select */
.content select {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-indent: 1em;
    background:transparent url(../img/pull-down_btn.png) no-repeat;
    background-size:21px 23px;
    background-position: right center;
    padding-right:32px;
    height: 23px;
    line-height: 23px;
    color:white;
    font-family:Meiryo UI;
    font-weight:bold;
    font-size: 17px;
    vertical-align: middle;
    border:0px solid #000;
    padding-bottom:1px;
    margin-bottom:1px;
    cursor:pointer;
}

.content option {
    color:black;
}

@-moz-document url-prefix() { /* for firefox */
    .content select {
        background:none;
        background-color: transparent;
    }
}

select::-ms-expand {
    display: none;
}

.blink {
    animation: blink 1.5s linear infinite normal;
    -webkit-animation: blink 1.5s linear infinite normal;
    -moz-animation: blink 1.5s linear infinite normal;
    -o-animation: blink 1.5s linear infinite normal;
}

.blink:hover {
    animation:none;
    -webkit-animation:none;
}

@keyframes blink{
      0% {opacity:1.0;}
     50% {opacity:1.0;}
     60% {opacity:0.9;}
     80% {opacity:0.7;}
     90% {opacity:0.9;}
    100% {opacity:1.0;}
}
@-webkit-keyframes blink{
      0% {opacity:1.0;}
     50% {opacity:1.0;}
     60% {opacity:0.9;}
     80% {opacity:0.7;}
     90% {opacity:0.9;}
    100% {opacity:1.0;}
}
@-moz-keyframes blink{
      0% {opacity:1.0;}
     50% {opacity:1.0;}
     60% {opacity:0.9;}
     80% {opacity:0.7;}
     90% {opacity:0.9;}
    100% {opacity:1.0;}
}
@-o-keyframes blink{
      0% {opacity:1.0;}
     50% {opacity:1.0;}
     60% {opacity:0.9;}
     80% {opacity:0.7;}
     90% {opacity:0.9;}
    100% {opacity:1.0;}
}

/* Tool Tip CSS*/
span#toolTip{
    position: absolute;
    z-index: 1;
    visibility: hidden;
}

.title {
    font-size:14px;
    font-weight:bold;
    text-anchor:top;
    fill:#fff;
    stroke-width:0;
    stroke:#fff;
    cursor:default;
}
.ar_text {
    font-size:19px;
    font-weight:bold;
    text-anchor:middle;
    fill:#a6a6a6;
    stroke-width:0;
    stroke:#a6a6a6;
    cursor:default;
}

.rf_text {
    font-size:28px;
    font-weight:bold;
    text-anchor:middle;
    fill:#fff;
    stroke-width:0;
    stroke:#fff;
    cursor:default;
}

.ar_text2 {
    font-size:16px;
    font-weight:bold;
    text-anchor:middle;
    fill:#a6a6a6;
    stroke-width:0;
    stroke:#a6a6a6;
    cursor:default;
}

.ar_year {
    font-size:14px;
    font-weight:bold;
    text-anchor:middle;
    fill:#a6a6a6;
    stroke-width:0;
    stroke:#a6a6a6;
    cursor:default;
}

.rf_text2 {
    font-size:20px;
    font-weight:bold;
    text-anchor:middle;
    fill:#fff;
    stroke-width:0;
    stroke:#fff;
    cursor:default;
}

/* QlikView Button */
#btn_qlikview {
    position:absolute;
    left:702px;
    top:-31px;
    width:31px;
    height:31px;
    background-image:url("../img/qlikviewBtn.png");
    background-size: 31px 31px;
    cursor:pointer;
}
#btn_qlikview.visible:hover{
    background-image:url("../img/qlikviewBtn_hover.png");
}
#btn_qlikview_glow {
    position:absolute;
    width:31px;
    height:31px;
    background-image:url("../img/qlikviewBtn_glow.png");
    background-size: 31px 31px;
    animation: qvBtnGlow 1.5s ease-in-out 4.0s infinite normal;
}
#btn_qlikview_glow:hover{
    animation-play-state: paused;
    opacity:0.0;
}

#btn_qlikview.visible {
    top:1px;
    animation: qvBtnVisible 1.0s ease-in-out 0.0s 1 normal;
}

#btn_qlikview.hidden {
    cursor:default;
    top:-31px;
    animation: qvBtnHidden 0.5s ease-in-out 1 normal;
}

@keyframes qvBtnVisible{
      0% {top:-31px;}
    100% {top:1px;}
}
@keyframes qvBtnHidden {
      0% {top:1px;}
    100% {top:-31px;}
}

@keyframes qvBtnGlow{
      0% {opacity:0.0;}
     50% {opacity:0.8;}
    100% {opacity:0.0;}
}

#btn_world:hover{
    background-image:url("../img/homeBtn_hover.png");
}

#btn_world.disabled {
    background-image:url("../img/homeBtn_disable.png");
    cursor:default;
}

/* Bookmark Button */
.btn_bookmark {
    position:absolute;
    top:1px;
    left:816px;
    width:31px;
    height:31px;
    opacity:0.8;
    background-image:url("../img/bookmarkBtn.png");
    background-size: 31px 31px;
    cursor:pointer;
}

.btn_bookmark:hover {
    opacity:1.0;
}

/* Menu Button */
.btn_menu {
    position:absolute;
    top:1px;
    left:857px;
    width:31px;
    height:31px;
    opacity:0.8;
    background-image:url("../img/menuBtn.png");
    background-size: 31px 31px;
    cursor:pointer;
}
.btn_menu.open {
    opacity:1.0;
}

.btn_menu:hover {
    opacity:1.0;
}

input[type="checkbox"].on-off{
    display: none;
}
.menu ul {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position:absolute;
    top:33px;
    right:475px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color:black;
    box-shadow:0px 4px 9px 2px rgba(0,0,0,0.5);
}

.menu li {
    height:15px;
    padding: 12px 10px 12px 10px;
    border-top:1px solid black;
    vertical-align:top;
    font-size:13px;
    color:#ffffff;
    background-color:#494949;
    cursor:pointer;
    opacity:0.8;
}

.menu li a{
    text-decoration:none;
    color:#ffffff;
}
.menu li img{
    height:15px;
    width:16px;
    margin-right:9px;
}

.menu li:hover{
    opacity:1.0;
}

input[type="checkbox"].on-off + ul{
    height: 0;
    overflow: hidden;
    box-shadow:0px 4px 9px 2px rgba(0,0,0,0.0);
}

input[type="checkbox"].on-off:checked + ul {
    height: 40px;
    box-shadow:0px 4px 9px 2px rgba(0,0,0,0.5);
}

/* TAB (Monthly_Daily) */

.tab_Monthly_Daily {
    position:absolute;
    left:0px;
    top:487px;
    width:95px;
    height:63px;
    background-image:url('../img/TAB (Monthly_Daily).png');
}
.tab_Monthly_Daily div{
    font-size:14px;line-height:11px;color:#6C86BB;
    cursor:default;
}

/* Loading Area */
.Loading_Area{
    position:relative;
    top:0px;
    left:0px;
    width:1366px;
    height:768px;
    visibility:hidden; 
}

.Loading_Area_Background{
    position:absolute;
    top:0px;
    left:0px;
    width:1366px;
    height:768px;
    background-color:#1e1e1e;
    opacity:0.3;
}

.Loading_Area_IMG{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;
    opacity:1.0;
}

.loadingImage {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width: 59px;
    height: 59px;
    margin:auto;
}

@keyframes loading {
  from {
    background-position: 0 top;
  }
  to {
    background-position: 0 bottom;
  }
}

.loadingIcon {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width: 59px;
    height: 59px;
    margin:auto;
    background-image:url(../img/loading-animation.png);
    animation:loading 4480ms steps(55);
    animation-iteration-count:infinite;
    animation-fill-mode:forwards;
    animation-play-state: running;
}

/* calendar drawer */
.calendarDrawerBack {
    position:absolute;
    top:0px;
    left:0px;
    height:768px;
    width:1366px;
    background-color:rgba(0,0,0,0.0);
}

.calendarDrawerFrame {
    display:table;
    width:1366px;
    cursor:default;
    box-shadow:0px 0px 10px 2px rgba(0,0,0,0.8);
}

.calendarDrawerTitle {
    margin:0;
    padding:10px 10px 10px 20px;
    width:1336px;
    height:30px;
    display:table-cell;
    vertical-align:middle;
    text-align:left;
    background-color:#203E7B;
    color:white;
    font-size:18px;
    font-weight:bold;
}

.calendarDrawerBody {
    margin:0;
    padding:0px 10px 10px 20px;
    width:1336px;
    height:70px;
    display:table-cell;
    vertical-align:top;
    background-color:#203E7B;
    color:white;
    font-size:14px;
    font-weight:bold;
}

.calendarDrawerBodyMonth {
    font-size:19px;
    font-weight:bold;
}
.calendarDrawerBodyDay {
    font-size:19px;
    font-weight:bold;
}
.calendarDrawerBodyWD {
    font-size:13px;
    font-variant:small-caps;
}

.calendarDrawerBody table {
    padding:0;
    margin:0;
    width:100%;
    line-height:16px;
}

.calendarDrawerBody td {
    white-space: nowrap;
}

.calendarDraweBodyItem {
    padding-left:20px;
}

.calendarDrawerBodyItem.disable{
    opacity:0.6;
}

.calendarDrawerBody li {
    list-style-type:none;
}

.calendarDrawerHeaderMask{
    opacity:0.0;
    position:absolute;
    top:0px;
    left:0px;
    width:1366px;
    height:33px;
}

/* text glow*/
.textGlow {
    text-shadow: 0 0 0px rgba(224,224,224,1) , 0 0  0px rgba(224,224,224,1) , 0 0  0px rgba(224,224,224,1) , 0 0 0px #e0e0e0 , 0 0 1px #e0e0e0 , 0 0 2px #e0e0e0 ;
    color:#f0f0f0;
    animation: textGlow 3.5s ease-in-out infinite normal;
}

@keyframes textGlow {
      0% {text-shadow: 0 0 0px rgba(224,224,224,1) , 0 0 0px rgba(224,224,224,1) , 0 0 0px rgba(224,224,224,1) , 0 0  0px #e0e0e0 , 0 0 1px #e0e0e0 , 0 0 2px #e0e0e0 ;color:#f0f0f0;}
     50% {text-shadow: 0 0 1px rgba(240,240,240,1) , 0 0 3px rgba(240,240,240,1) , 0 0 5px rgba(240,240,240,1) , 0 0 8px #f0f0f0 , 0 0 10px #f0f0f0 , 0 0 15px #f0f0f0 ;color:#ffffff;}
    100% {text-shadow: 0 0 0px rgba(224,224,224,1) , 0 0 0px rgba(224,224,224,1) , 0 0 0px rgba(224,224,224,1) , 0 0  0px #e0e0e0 , 0 0 1px #e0e0e0 , 0 0 2px #e0e0e0 ;color:#e0e0e0;}
}

